
body{
    
    background-image: url("/bgweb.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
h1{
    text-align: center;
    font-size: 50px;
    color: #4CAF50;
   
}
h2{
    
    text-align: center;

    font-size: 30px;
    color: #4CAF50;
}
h3{
    
    font-size: 20px;
    color: #4CAF50;
}

table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: #f5f5f5;
}
th{
    background-color: #4CAF50;
    color: white;

}

button a{
    text-decoration: none;
    color: white;
}

td{
    font-size: 20px;

}



h3{
    font-size: 30px;

}
li{
    font-size: 20px;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button a{
    text-decoration: none;
    color: white;
}

